{
  "presets": [
    [
      "env",
      {
        "targets": {
          "electron": "1.8"
        }
      }
    ]
  ],
  "plugins": [
    "syntax-class-properties",
    "syntax-object-rest-spread",
    "transform-class-properties",
    "transform-flow-strip-types",
    "transform-object-rest-spread"
  ]
}
